.input { 
    border: 1px solid black;
    border-radius: 12px;
    padding: 16px;
    transition: all 0.2s ease;
}

.input:focus { 
    outline: 1px solid var(--color-amber-600);
    border: none;
}

.contact-page-container { 
    min-height: 100dvh;
}