.input { 
    border: 1px solid black;
    border-radius: 12px;
    padding: 16px;
    transition: all 0.2s ease;
}

.input:focus { 
    outline: 1px solid var(--color-amber-600);
    border: none;
}

.contact-page-container { 
    min-height: 100dvh;
}

.checkout-container input { 
    transition: scale 0.3s ease;
}

.checkout-container input:focus { 
    outline: 2px solid var(--color-amber-600);
    scale: 1.05;
}

.checked-page { 
    min-height: 100dvh;
    width: 100dvw;
    display: flex;
    align-items: center;
    justify-content: center;
    
}